USE [master]
GO
/****** Object:  Database [dbPetCare]    Script Date: 10-Jan-18 12:23:08 PM ******/
CREATE DATABASE [dbPetCare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPetCare', FILENAME = N'F:\workspace\GitRepos\Database\dbPetCare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPetCare_log', FILENAME = N'F:\workspace\GitRepos\Database\dbPetCare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPetCare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPetCare]
GO
USE [dbPetCare]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 10-Jan-18 12:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AdminAccount] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 10-Jan-18 12:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [varchar](50) NOT NULL,
	[name] [nvarchar](250) NULL,
	[citizenId] [int] NULL,
	[address] [nvarchar](500) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[idPet] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10-Jan-18 12:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Sex] [int] NULL,
	[CitizenID] [nvarchar](50) NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[NumPet] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 10-Jan-18 12:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Price] [varchar](50) NULL,
	[HSD] [varchar](50) NULL,
	[Effect] [nvarchar](500) NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 10-Jan-18 12:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[IDBoss] [varchar](50) NULL,
	[Sex] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Status] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Pet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAccount]    Script Date: 10-Jan-18 12:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAccount](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Sex] [int] NULL,
	[Age] [int] NULL,
	[Position] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AdminAccount] ([Username], [Password]) VALUES (N'admin', N'admin')
INSERT [dbo].[Client] ([id], [name], [citizenId], [address], [phone], [email], [idPet]) VALUES (N'C01', N'Ng?c', 197264627, N'Tru?ng d?i h?c khoa h?c t? nhiên', NULL, NULL, NULL)
INSERT [dbo].[Client] ([id], [name], [citizenId], [address], [phone], [email], [idPet]) VALUES (N'C04', N'Ng?cc', 197264627, N'Tru?ng d?i h?c khoa h?c t? nhiên', NULL, NULL, NULL)
INSERT [dbo].[Customer] ([ID], [Name], [Sex], [CitizenID], [Address], [Phone], [Email], [NumPet]) VALUES (N'KH001', N'Võ Hồng Ngân', 1, N'198274637', N'Huế', N'0983727183', N'hongnhan@outlook.com', NULL)
INSERT [dbo].[Customer] ([ID], [Name], [Sex], [CitizenID], [Address], [Phone], [Email], [NumPet]) VALUES (N'KH1', N'a', 0, N'1', N'1', N'1', N'1', 1)
INSERT [dbo].[Customer] ([ID], [Name], [Sex], [CitizenID], [Address], [Phone], [Email], [NumPet]) VALUES (N'KH2', N'ư', 0, N'2', N'2', N'2', N'2', 1)
INSERT [dbo].[Medicine] ([ID], [Name], [Price], [HSD], [Effect]) VALUES (N'AC01', N'Ancohol', N'14000', N'2018-12-22', N'Chữa bệnh chán đời, chống thức ngủ')
INSERT [dbo].[Medicine] ([ID], [Name], [Price], [HSD], [Effect]) VALUES (N'PND01', N'Panadone', N'10000', N'2018-03-22', N'Trị đau đầu sổ mủi sốt')
INSERT [dbo].[Medicine] ([ID], [Name], [Price], [HSD], [Effect]) VALUES (N'XL01', N'Thần dược phương tây', N'69999', N'2069-01-01', N'Chữa bệnh nói nhảm')
INSERT [dbo].[Pet] ([ID], [Name], [IDBoss], [Sex], [Color], [Age], [Status]) VALUES (N'P01', N'G?u chó', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Pet] ([ID], [Name], [IDBoss], [Sex], [Color], [Age], [Status]) VALUES (N'P02', N'G?u chó', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Pet] ([ID], [Name], [IDBoss], [Sex], [Color], [Age], [Status]) VALUES (N'P03', N'hALO', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StaffAccount] ([Username], [Password], [Name], [Sex], [Age], [Position], [Address], [Phone], [Email]) VALUES (N'staff', N'staff', N'Staff Demo', 2, 20, N'Kĩ thuật viên', N'135 Trần Hưng Đạo', N'0123784293', N'1512378@student.hcmus.edu.vn')
INSERT [dbo].[StaffAccount] ([Username], [Password], [Name], [Sex], [Age], [Position], [Address], [Phone], [Email]) VALUES (N'doanket01', N'doanket00', N'Bùi Như Ngọc', 1, 20, N'Lao công', N'Quan 5', N'0982737382', N'doanket01@gmail.com')
INSERT [dbo].[StaffAccount] ([Username], [Password], [Name], [Sex], [Age], [Position], [Address], [Phone], [Email]) VALUES (N'hoangde', N'hoangde01', N'Le Hoang Thuong', 1, 18, N'Kỹ thuật viên', N'TP.HCM', N'0129347593', N'hoande@gmail.com')
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Pet] FOREIGN KEY([idPet])
REFERENCES [dbo].[Pet] ([ID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Pet]
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Client] FOREIGN KEY([IDBoss])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Pet] CHECK CONSTRAINT [FK_Pet_Client]
GO
USE [master]
GO
